.DS_Store
venv
my_file.py
.ipynb_checkpoints/*
**/.ipynb_checkpoints/*
__pycache__/*
**/api_key.txt

**/ai
**/*.pdf
**/main.c
**/world-autograder.sql
4-exams/waiver-exam/solution*
3-assignments/**/solution*
#2-lectures/**/solution*